---
import Layout from "@/layouts/Layout.astro";
import BookMainHero from "@/components/BookMainHero";
import { fetchAllBooks } from "@/services/book.service";
import AllBooks from "@/components/AllBooks";
const booksData = await fetchAllBooks();

const books = Object.values(booksData)
  .filter((book) => !book.comments)
  .sort((a, b) => b.createdAt - a.createdAt);
---

<Layout title="Libros - Club de Lectura" lang="es-PE">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <BookMainHero books={books} client:load />

    <AllBooks books={books} client:load />
  </div>
</Layout>
