---
import ProfilePage from "@/components/ProfilePage";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Libros - Club de Lectura" lang="es-PE">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <ProfilePage client:only />
  </div>
</Layout>
