---
import type { CollectionEntry } from "astro:content";
import BooksCarousel from "./BooksCarousel";
import BookImage from "./ui/BookImage.astro";
import BookCard from "./ui/BookCard.astro";

interface Props {
  books: CollectionEntry<"books">[];
}

const { books } = Astro.props;
---

<section>
  <div class="min-h-screen bg-surface md:p-8 py-8">
    <div class="w-full md:max-w-6xl mx-auto bg-white rounded-3xl p-12">
      <div class="mb-12">
        <h1 class="text-4xl font-bold mb-4">Lecturas Recientes</h1>
        <p class="text-gray-600 mb-6">
          Descubre los libros que hemos estado leyendo en nuestras reuniones
          recientes y sumérgete en las historias que nos han cautivado.
        </p>
        <!-- Botón de ver todos los libros -->
        <a
          href="/libros"
          class="inline-block px-6 py-2 bg-primary text-white font-semibold rounded-full shadow-md hover:shadow-lg transition-all duration-300"
        >
          Ver todos los libros
        </a>
      </div>

      <div class="relative">
        <BooksCarousel books={books} client:only />
      </div>
    </div>
  </div>
</section>
