<section class="animate-up">
  <div class="flex justify-center items-center text-center -mt-10 md:mt-8">
    <div class="md:w-1/2 w-full md:p-0 px-4">
      <p class="font-bold md:text-lg text-pretty text-base">
        Únete al club de lectura de la UNPRG, donde cada semana nos reunimos
        para explorar libros fascinantes, compartir ideas y disfrutar de un
        espacio de aprendizaje y crecimiento. ¡Ven y sé parte de una comunidad
        apasionada por la lectura!
      </p>
    </div>
  </div>
</section>
